.custom-tooltip {
  max-width: 260px;
  padding: 12px;

  border-radius: 4px;

  background-color: var(--white);
  box-shadow: 4px 4px 24px 6px #00000026;

  color: var(--gray-main);
  font-size: 14px;
  line-height: 1.28;
}
