@use "../general/mixins" as *;

.selected-filter {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  overflow-x: auto;

  gap: 12px;

  @include up(md) {
    display: none;
  }

  &__item {
    @include font(16px, 19px, 400);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;

    border-radius: 10px;

    background-color: var(--blue);

    color: var(--white);
    white-space: nowrap;

    gap: 10px;
  }

  &__remove-button {
    width: 22px;
    height: 22px;
    padding: 0;

    border: none;
    border-radius: 50%;
  }
}
