@use "../general/mixins" as *;

.tab-scroll {
  display: flex;

  background-color: var(--white);

  gap: 4px;

  &.is-hidden {
    display: none
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;

    border: none;

    background-color: transparent;

    color: var(--blue);

    &:disabled,
    &.is-button-disabled {
      background-color: transparent;
      box-shadow: none;
      color: var(--gray-tech);
    }
  }
}
