@use "../../general/mixins" as *;

.modal-question {
  width: 489px;
  max-width: 100%;
  padding: 24px 16px;

  @include up(sm) {
    padding: 24px 32px;
  }

  &__title {
    @include font(18px, 22px, 600);
    margin-bottom: 20px;

    color: var(--orange);
  }

  &__form {
    display: grid;

    gap: 24px;

    &.is-hidden {
      display: none;
    }
  }

  &__textarea {
    height: 6lh;
  }

  &__footer {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }

  &__code {
    display: grid;

    align-items: flex-end;

    gap: 20px;

    @include up(sm) {
      grid-template-columns: 250px 1fr;
    }
  }
}
