<div class="modal is-hidden" id="modal-error" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-error"></div>
  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-error">
      <svg viewBox="0 0 23 23" width="23" height="23" aria-hidden="true">
        <use href="/sprite.svg#cross-icon-4" x="0" y="0"></use>
      </svg>
    </button>

    <div class="modal-error">
      <p>Сообщение отправлено!</p>
      <p>Благодарим за обратную связь.</p>
    </div>
  </div>
</div>
