<div class="modal is-hidden" id="modal-password" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-password"></div>
  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-password">
      <svg viewBox="0 0 26 26" width="26" height="26" aria-hidden="true">
        <use href="/sprite.svg#cross-icon" x="0" y="0"></use>
      </svg>
    </button>

    <div class="modal-password">
      <h2 class="modal-password__title">Восстановление пароля</h2>

      <form class="modal-password__form">
        <label class="field">
          <span class="field__label">Электронная почта</span>
          <input class="field__input" type="email" required />
        </label>
        <div class="modal-password__code">
          <label class="field">
            <span class="field__label">Защитный код</span>
            <input class="field__input" type="text" required />
          </label>
          <div class="modal-password__captcha">captcha</div>
        </div>

        <button class="button button_orange button_full-width button_large" type="submit">Выслать пароль</button>
      </form>
    </div>
  </div>
</div>
