<div class="modal is-hidden" id="modal-search" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-search"></div>
  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-search">
      <svg viewBox="0 0 23 23" width="23" height="23" aria-hidden="true">
        <use href="/sprite.svg#cross-icon-4" x="0" y="0"></use>
      </svg>
    </button>

    <div class="modal-search">
      <form class="modal-search__form">
        <div class="field">
          <label class="field__label visually-hidden" for="seacrh">Введите слово для поиска</label>
          <input class="field__input" type="text" id="seacrh" placeholder="Введите слово для поиска" />
        </div>
      </form>
    </div>
  </div>
</div>
