<div class="modal is-hidden" id="modal-callback" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-callback"></div>

  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-callback">
      <svg viewBox="0 0 26 26" width="26" height="26" aria-hidden="true">
        <use href="/sprite.svg#cross-icon" x="0" y="0"></use>
      </svg>
    </button>

    <div class="modal-callback">
      <form class="modal-callback__form" data-modal-form>
        <label class="field">
          <span class="field__label">Представьтесь*</span>
          <input class="field__input" type="text" required />
        </label>
        <label class="field">
          <span class="field__label">Телефон*</span>
          <input class="field__input" type="text" />
        </label>
        <label class="field">
          <span class="field__label">Электронная почта*</span>
          <input class="field__input" type="email" required />
        </label>
        <label class="field">
          <span class="field__label">Комментарий</span>
          <textarea class="field__input"></textarea>
        </label>
        <label class="option">
          <input class="option__input" type="checkbox" />
          <span class="option__label"
            >Я даю согласие на <a class="link link_blue" href="#">обработку</a> персональных данных</span
          >
        </label>
        <div class="modal-callback__footer">
          <p class="text-gray-medium2">* поля, обязательные к заполнению</p>
          <button class="button button_orange button_full-width button_large" type="submit">Отправить</button>
        </div>
      </form>

      <div class="modal-callback__feedback is-hidden" data-modal-feedback>
        <p>Ваше обращение отправлено!</p>
        <p>Благодарим за обратную связь.</p>
      </div>
    </div>
  </div>
</div>
