<div class="modal is-hidden" id="modal-promotion" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-promotion"></div>
  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-promotion">
      <svg viewBox="0 0 39 38" width="39" height="38" aria-hidden="true">
        <use href="/sprite.svg#cross-icon" x="0" y="0"></use>
      </svg>
    </button>
    <div class="modal-promotion">
      <h2 class="modal-promotion__title">Спасибо за участие</h2>
      <p>Правильные ответы и результаты будут оглашены в рамках ближайшего информационного дайджеста.</p>
      <p>
        Также Вы можете принять участие в акции «Основы инвестирования» - тест на 111 вопросов на базовые знания об
        инвестировании.
      </p>
      <p>
        Правильно ответив на 106 вопросов, Вы получаете возможность стать владельцем паев фондов под управлением
        компании на 1 000 рублей.
      </p>
      <a class="button button_orange button_large button_full-width" href="#">Перейти к тесту</a>
    </div>
  </div>
</div>
