<div class="modal is-hidden" id="modal-contacts" role="dialog" aria-modal="true">
  <div class="modal__backdrop" data-modal-button="modal-contacts"></div>
  <div class="modal__box">
    <button class="modal__close-button" type="button" aria-label="закрыть окно" data-modal-button="modal-contacts">
      <svg viewBox="0 0 23 23" width="23" height="23" aria-hidden="true">
        <use href="/sprite.svg#cross-icon-4" x="0" y="0"></use>
      </svg>
    </button>
    <div class="modal-contacts">
      <div class="modal-contacts__item">
        <h2 class="modal-contacts__title">Написать</h2>
        <div class="modal-contacts__chats">
          <a class="link link_gray" href="#">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#headphones-icon-2" x="0" y="0"></use>
            </svg>
            <span class="link__text">Онлайн</span>
          </a>
          <a class="link link_gray" href="#">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#whats-app-icon-2" x="0" y="0"></use>
            </svg>
            <span class="link__text">Whatsapp</span>
          </a>
          <button class="link link_gray" type="button" data-modal-button="modal-feedback">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#mail-icon" x="0" y="0"></use>
            </svg>
            <span class="link__text">Обращение</span>
          </button>
          <a class="link link_gray" href="#">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#telegram-icon-2" x="0" y="0"></use>
            </svg>
            <span class="link__text">Telegram</span>
          </a>
        </div>
      </div>
      <div class="modal-contacts__item">
        <h2 class="modal-contacts__title">Позвонить</h2>
        <div class="modal-contacts__phones">
          <a class="link link_gray" href="tel:+78123130530">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#phone-icon-2" x="0" y="0"></use>
            </svg>
            <span class="link__text">+7(812) 313-05-30</span>
          </a>
          <a class="link link_gray" href="tel:+79816827501">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <use href="/sprite.svg#phone-icon-3" x="0" y="0"></use>
            </svg>
            <span class="link__text">+7 (981) 682-75-01</span>
          </a>
          <button class="link link_gray" data-modal-button="modal-callback">
            <svg viewBox="0 0 18 16" width="18" height="16" aria-hidden="true">
              <use href="/sprite.svg#phone-icon-4" x="0" y="0"></use>
            </svg>
            <span class="link__text">Перезвонить Вам?</span>
          </button>
        </div>
      </div>
      <div class="modal-contacts__item">
        <h2 class="modal-contacts__title">Почитать о нас</h2>
        <ul class="social social_large">
          <li class="social__item">
            <a href="#" class="social__link" aria-label="vk.com">
              <svg class="social__icon" viewBox="0 0 40 40" width="40" height="40" aria-hidden="true">
                <use href="/sprite.svg#vk-icon" x="0" y="0"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="telegram">
              <svg class="social__icon" viewBox="0 0 40 40" width="40" height="40" aria-hidden="true">
                <use href="/sprite.svg#telegram-icon" x="0" y="0"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="youtube">
              <svg class="social__icon" viewBox="0 0 40 40" width="40" height="40" aria-hidden="true">
                <use href="/sprite.svg#youtube-icon" x="0" y="0"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="dzen">
              <svg class="social__icon" viewBox="0 0 40 40" width="40" height="40" aria-hidden="true">
                <use href="/sprite.svg#social-network-icon" x="0" y="0"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link" aria-label="rutube">
              <svg class="social__icon" viewBox="0 0 40 40" width="40" height="40" aria-hidden="true">
                <use href="/sprite.svg#rutube-icon" x="0" y="0"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
