@use "../general/mixins" as *;

.benchmarks {
  @include font(16px, 20px, 400);

  border-radius: 4px;

  background-color: #d5d5d5;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

  gap: 10px;

  scroll-margin: 74px;

  &.is-active {
    background-color: var(--gray-bg);
  }

  @include up(md) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 11px;

    border-radius: 8px;

    background-color: rgba(102, 102, 102, 0.1);
    box-shadow: none;

    &[open] {
      background-color: rgba(102, 102, 102, 0.1);
    }
  }

  @include up(lg) {
    padding-right: 20px;
    padding-left: 20px;

    gap: 50px;
  }

  &__header {
    @include font(18px, 22px, 400);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 19px 20px 19px 12px;

    .is-active > & {
      color: var(--orange);
    }

    @include up(md) {
      @include font(16px, 20px, 600);
      padding: 0;

      pointer-events: none;

      .is-active > & {
        color: var(--gray-main);
      }
    }

    br {
      display: none;

      @include up(md) {
        display: block;
      }

      @include up(xl) {
        display: none;
      }
    }
  }

  &__anchor {
    position: absolute;

    opacity: 0;

    inset: 0;
  }

  &__arrow {
    transition: transform 0.3s ease;

    color: var(--gray-main);

    @include up(md) {
      display: none;
    }

    .is-active & {
      transform: scaleY(-1);
    }
  }

  &__content {
    display: none;
    padding-right: 26px;
    padding-bottom: 26px;
    padding-left: 26px;

    gap: 15px;

    @include up(md) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      padding-bottom: 0;
      padding-left: 0;

      gap: 10px;
    }

    @include up(lg) {
      gap: 70px;
    }

    .is-active > & {
      display: grid;
    }
  }

  &__date {
    display: block;

    font-weight: 500;

    @include up(md) {
      display: grid;
      justify-content: end;

      font-weight: 400;
      text-align: right;
    }

    &::before {
      content: "на ";

      @include up(md) {
        display: none;
      }
    }
  }

  &__items {
    display: grid;

    gap: 15px;

    @include up(md) {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;

      gap: 10px;
    }

    @include up(lg) {
      gap: 70px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 8px;

    @include up(md) {
      grid-template-columns: auto;
      justify-content: center;

      text-align: center;
    }
  }

  &__link-info {
    justify-self: end;
  }
}
