@use "../general/mixins" as *;

.test-result-info {
  &__title {
    @include font(18px, 22px, 600);
    margin-bottom: 16px;
  }

  &__text {
    @include font(18px, 26px, 400);
    margin-bottom: 16px;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;

    gap: 8px;

    @include up(sm) {
      grid-template-columns: 190px 190px;
    }
  }
}
