:root {
  // Основные цвета
  --orange-dark: #f14e00;
  --orange: #f86401;
  --blue: #6699cc;

  // Серые оттенки
  --gray-dark: #333333;
  --gray-main: #666666;
  --gray-tech: #999999;
  --gray-medium: #bfbfbf;
  --gray-medium2: #c0c0c0;
  --gray-light: #e1e1e1;
  --gray-bg: #f1f1f1;
  --white: #ffffff;
}
